.container {
    padding: var(--custom-page-padding);

    .actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        margin-bottom: 1rem;

        .icon {
            border: 2px solid var(--adm-color-primary);
            border-radius: 50%;
            padding: 0.75rem;

            .svg {
                color: var(--adm-color-primary);
                font-size: 1.25rem;
            }
        }

        .text {
            color: var(--adm-color-primary);
            font-weight: 500;
        }
    }

    .balances {
        .list {
            .item {
                .description {
                    color: var(--adm-color-weak);
                    font-size: 0.875rem;
                }

                .amount {
                    color: var(--adm-color-yellow);
                }

                .icon {
                    color: var(--adm-color-weak);
                    font-size: 1.25rem;
                    margin-left: 0.25rem;
                }
            }
        }
    }
}
