.container {
    padding: 1rem;

    .pageTitle {
        margin-bottom: 2rem;
    }

    .actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        .icon {
            border: 2px solid var(--adm-color-primary);
            border-radius: 50%;
            padding: 0.75rem;

            .svg {
                color: var(--adm-color-primary);
                font-size: 1.25rem;
            }
        }

        .text {
            color: var(--adm-color-primary);
            font-weight: 500;
        }
    }

    .balances {
        .title {
            margin: 2rem 0 1rem;
        }

        .list {
            border-radius: 1rem;
            overflow: hidden;

            .item {
                .description {
                    color: var(--adm-color-weak);
                    font-size: 0.875rem;
                }

                .amount {
                    color: var(--custom-color-secondary);
                }

                .icon {
                    color: var(--adm-color-weak);
                    font-size: 1.25rem;
                }
            }
        }
    }
}
