.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.wrap-reverse {
        flex-wrap: wrap-reverse;
    }
}
