.container {
    padding: var(--custom-page-padding);

    .quiz {
        > * + * {
            margin-top: 1rem;
        }

        .question {
            font-size: 1.25rem;
            font-weight: 500;
            color: var(--adm-color-primary);
        }
    }

    .btnContainer {
        margin-top: 1rem;
    }
}

.resultDescription {
    color: #333333;
}
