.container {
    padding: var(--custom-page-padding);

    .list {
        .item {
            .icon {
                flex-shrink: 0;
                font-size: 1.25rem;
                color: var(--adm-color-primary);
            }

            .type {
                text-transform: capitalize;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .date {
                color: var(--adm-color-weak);
            }

            .amount {
                color: var(--custom-color-primary-dark);
                font-weight: 500;
            }

            .unit {
                color: var(--adm-color-weak);
                text-transform: uppercase;
            }
        }
    }

    .pagination {
        margin-top: 1rem;
    }
}
