.container {
    padding: var(--custom-page-padding);

    .title {
        margin-bottom: 1rem;
    }

    .balance {
        .amountText {
            margin-bottom: 1rem;
        }

        .historyText {
            margin-bottom: 1rem;
        }
    }

    .list {
        border-radius: 1rem;
        overflow: hidden;

        .item {
            .icon {
                flex-shrink: 0;
                font-size: 1.25rem;
                color: var(--adm-color-primary);
            }

            .type {
                text-transform: capitalize;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .date {
                color: var(--adm-color-weak);
            }

            .amount {
                color: var(--adm-color-primary);
            }

            .unit {
                color: var(--adm-color-weak);
                text-transform: uppercase;
            }
        }
    }

    .pagination {
        margin-top: 1rem;
    }
}
