.container {
    padding: var(--custom-page-padding);

    .list {
        .item {
            .icon {
                flex-shrink: 0;
                font-size: 1.25rem;
                color: var(--adm-color-primary);
            }

            .amount {
                font-weight: 500;

                &.add {
                    color: var(--adm-color-success);
                }

                &.sub {
                    color: var(--adm-color-danger);
                }
            }

            .unit {
                color: var(--adm-color-weak);
                text-transform: uppercase;
                font-size: 0.8125rem;
            }
        }
    }

    .pagination {
        margin-top: 1rem;
    }
}
