@mixin override {
    --adm-color-yellow: #eef149;
    --adm-color-primary: #94ffdf;
    --adm-color-text-light-solid: #333333;
    --adm-color-background: #031f15;
    --adm-color-border: #026547;
}
