@mixin custom {
    --tab-bar-height: 4rem;
    --custom-page-padding: 1rem 1rem calc(var(--tab-bar-height) + 1rem);
    --custom-border-radius-s: 0.25rem;
    --custom-border-radius-m: 0.5rem;
    --custom-border-radius-l: 1rem;
    --custom-color-primary-dark: #239b7b;
}
