@mixin custom {
    --custom-page-padding: 1rem 1rem 4.5rem;
    --custom-border-radius-s: 0.25rem;
    --custom-border-radius-m: 0.5rem;
    --custom-border-radius-l: 1rem;
    --custom-color-primary-dark: #239b7b;
}
