.container {
    padding: var(--custom-page-padding);

    .list {
        .item {
            .vip {
                font-size: 0.875rem;
                color: var(--adm-color-primary);

                .icon {
                    font-size: 1rem;
                }
            }
        }
    }
}
