.container {
    margin-top: 1rem;

    .mine {
        position: relative;

        .card {
            color: var(--adm-color-primary);

            .amount {
                font-size: 2rem;
                font-weight: 500;
            }

            .time {
                margin-top: 1rem;
            }

            .image {
                margin-top: 1rem;
            }

            .text {
                margin-top: 0.25rem;
            }
        }

        .btn {
            margin-top: 1rem;
        }
    }

    .description {
        margin-top: 2rem;
    }
}
