.container {
    margin-top: 1rem;

    .mine {
        position: relative;

        .card {
            border: 1px solid var(--adm-color-border);
            color: var(--adm-color-primary);
            padding-bottom: 2rem;

            .amount {
                font-size: 2rem;
                font-weight: 500;
            }

            .time {
                margin-top: 1rem;
            }

            .text {
                margin-top: 0.25rem;
            }
        }

        .btn {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }

    .description {
        margin-top: 2rem;
    }
}
