.container {
    font-size: 1rem;
    color: white;

    .loading {
        color: white;

        svg {
            color: white !important;
        }
    }

    .other {
        font-weight: 500;

        .icon {
            margin-left: 0.25rem;
            font-size: 1.25rem;
        }
    }
}
