.container {
    padding: var(--custom-page-padding);

    .back {
        font-size: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 900;
        color: var(--adm-color-primary);
    }

    .content {
        line-height: 1.25;

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 1rem 0;
        }

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
            overflow: hidden;
        }

        li {
            margin: 0.5rem 0;
            list-style-position: inside;

            p {
                margin: 0;
                display: inline;
            }
        }
    }

    .card {
        font-size: 1rem;

        .description {
            margin: 0.5rem 0 1rem;
            color: var(--adm-color-primary);
        }
    }
}
