.container {
    margin-bottom: 1rem;

    .list {
        border-radius: 0.5rem;

        .listItem {
            .address {
                color: var(--adm-color-primary);
            }

            .level {
                font-size: 0.875rem;
            }
        }
    }
}
