.container {
    margin-bottom: 1rem;

    .list {
        border-radius: 0.5rem;

        .listItem {
            .vip {
                color: var(--adm-color-primary);
            }
        }
    }
}
