.item {
    .icon {
        margin-right: 0.5rem;
    }
}

.modal {
    margin-top: 0.5rem;

    .layout {
        & > * + * {
            margin-top: 0.5rem;
        }

        .name {
            font-weight: 500;
            margin-top: 1rem;
            text-align: center;
        }

        .icon {
            margin-left: 0.5rem;
        }
    }
}
