.container {
    padding: var(--custom-page-padding);

    .form {
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .noti {
        color: var(--adm-color-yellow);
        text-align: center;
        font-size: 0.75rem;
    }
}
