.borderPrimary {
    border: 1px solid #026547;
}

.borderNormal {
    border: 1px solid var(--adm-color-border);
}

.borderGradient {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--adm-color-primary), rgba(0, 0, 0, 0)) 1;
}
