.container {
    padding: var(--custom-page-padding);

    .tabItem {
        margin-top: 0.5rem;

        .list {
            .icon {
                font-size: 2.25rem;
            }

            .normalRank {
                width: 2.25rem;
                height: 2.25rem;
            }

            .amount {
                color: var(--adm-color-primary);
            }
        }
    }
}
