.container {
    padding: var(--custom-page-padding);

    .list {
        .icon {
            font-size: 2.75rem;
        }

        .normalRank {
            width: 2.75rem;
            height: 2.75rem;
        }

        .amount {
            color: var(--adm-color-primary);
        }
    }
}
