.item {
    .iconLogo {
        margin-right: 0.5rem;
    }

    .iconSuccess {
        color: var(--adm-color-primary);
    }

    .rewardText {
        color: var(--adm-color-primary);
    }

}

.textDanger {
    color: var(--adm-color-danger);
    text-align: center;
}

.modal {
    margin-top: 0.5rem;

    .layout {
        & > * + * {
            margin-top: 0.5rem;
        }

        .name {
            font-weight: 500;
            margin-top: 1rem;
            text-align: center;
        }

        .description {
            color: var(--adm-color-weak);
        }

        .icon {
            margin-left: 0.5rem;
        }

        .input {
            width: 256px;
        }

        .chooseCorrectAnswer {
            align-self: flex-start;
            width: 100%;

            > * + * {
                margin-top: 1rem;
            }
        }

        .question {
            color: var(--adm-color-primary);
            text-align: center;
            text-transform: uppercase;
        }
    }
}
