.container {
    & > * + * {
        margin-top: 1rem;
    }

    .list {
        .item {
            .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .description {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: var(--adm-color-weak);
                font-size: 0.875rem;
            }

            .iconWrapper {
                flex-shrink: 0;

                .icon {
                    color: var(--adm-color-weak);
                    font-size: 1.25rem;
                    margin-left: 0.25rem;
                }
            }
        }
    }
}
