.title {
    position: relative;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    &.primary {
        color: var(--adm-color-primary);
    }

    &.gold {
        color: var(--adm-color-yellow);
    }

    &.white {
        color: white;
    }

    .icon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
