.container {
    padding: var(--custom-page-padding);

    .emailContainer {
        > * + * {
            margin-top: 1rem;
        }

        .title {
            font-size: 1.25rem;
            text-align: center;
            color: var(--adm-color-primary);
            text-transform: uppercase;
        }

        .action {
            font-size: 1rem;
            text-align: center;
            margin-top: 0.5rem;

            .icon {
                margin-left: 0.25rem;
                font-size: 1.25rem;
            }
        }
    }

    .codeContainer {
        font-size: 1rem;
        
        > * + * {
            margin-top: 1rem;
        }

        .title {
            max-width: 75%;
            text-align: center;
        }

        .resend {
            .text {
                color: var(--adm-color-weak);
            }

            .action {
                color: var(--adm-color-primary);
                margin-left: 0.25rem;
            }
        }
    }
}

.successModal,
.errorModal {
    text-align: center;
}
